.locationContainer {
    width: 90%;
    display: flex;
    background-color: #F7F7F7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 225px;
    margin-bottom: 40px;
    border-radius: 25px;
}