.titleContainer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    max-width: 1450px;
}

.nameNote {
    display: flex;
    flex-direction: column;
}

.titleLogement {
    color: #FF6060;
    font-weight: 500;
}

.localisationLogement {
    color: #FF6060;
}

.logementTagsContainer {
    display: flex;
    justify-content: flex-start;
}

.logementTags {
    background-color: #FF6060;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    margin-right: 10px;
    height: 25px;
}

.logementOwner {
    color: #FF6060;
}

.logementRating {
    color: #FF6060;
}

.starContainer {
    background-color: salmon;
}